.App {
  text-align: center;
}

.info {
  display: inline-block;
  width: 25%;
  height: 120px;

  margin: 5px 5px 5px 5px;
  padding-bottom: 10px;

  border: .1em solid black;
  border-radius: 25px;
}

.data {
  font-size: 2rem;
  color: #5b97f7;
}

.button {
  width: 25%;
  height: 50px;

  border: .15rem solid #5b97f7;

  background-color: white;

  color: #5b97f7;
  font-size: 1.3rem;

  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #5b97f7;
  border: .15rem solid #5b97f7;
}

.footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
}

@media (max-width: 767px)
{
  .info {
    width: 100%;
  }
}